* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Header */
header {
    background-color: #124559; 
    color: rgb(255, 255, 255);
    padding: 20px 0;
    text-align: center;
}

.admin-header h1 {
    margin: 0;
}

/*För att logga ut*/
.logout-div {
    margin-top: 10px;
}

#logout-link {
    padding: 8px 30px;
    border-radius: 10px;
    background-color: rgb(223, 121, 53);
    color: white;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#logout-link:hover {
    background-color: rgb(192, 95, 25);
}

/*Styling inlogg*/
/* Formulär */
.form-container {
    max-width: 900px;
    width: 90%;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #de7e1f;
    border-radius: 5px;
}

.form-title {
    margin-top: 0;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

.form-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form-button {
    max-width: 200px;
    width: 100%;
    padding: 10px;
    background-color: #db882e;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-button:hover {
    background-color: #c3711a;
}

#error-message {
    color: red;
    margin-top: 10px;
}

/*Modal för att uppdater*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal content */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 20px;
    max-width: 400px;
}

/* Stängningsknappar för modaler */
.close,
.close1,
.close2,
.close3 {
    color: #e20000;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(172, 0, 0);
    text-decoration: none;
    cursor: pointer;
}

.close1:hover,
.close1:focus {
    color: rgb(172, 0, 0);
    text-decoration: none;
    cursor: pointer;
}

.close2:hover, 
.close2:focus {
    color: rgb(172, 0, 0);
    text-decoration: none;
    cursor: pointer;
}

.close3:hover, 
.close3:focus {
    color: rgb(172, 0, 0);
    text-decoration: none;
    cursor: pointer;
}

.updatemodalbtn {
    box-shadow: rgba(0, 0, 0, 0.09) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

/*Meny*/
#menu-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #026e98;
    border-radius: 30px;
    margin-top: 20px;
    padding: 10px;
    max-width: 1300px;
    width: 95%;
}

/*Dricka*/
#drinks-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #de7e1f;
    border-radius: 30px;
    margin-top: 20px;
    padding: 10px;
    max-width: 1300px;
    width: 95%;
    margin-bottom: 10%;
}

@media only screen and (max-width: 700px) {
    .admin-header h1 {
        padding: 10px;
    }

    #menu-container {
        display: block;
        width: 95%;
    }

    #drinks-container {
        display: block;
        width: 95%;
    }

    .menu-item {
        margin-top: 8px;
        padding: 5px;
        max-width: 95%;
        font-size: 1.2em;
    }

}

@media only screen and (min-width: 701px) and (max-width: 1200px) {
    .admin-header h1 {
        padding: 10px;
    }

    #menu-container {
        display: block;
        width: 65%;
    }

    #drinks-container {
        display: block;
        width: 65%;
    }

    .menu-item {
        margin-top: 8px;
        padding: 5px;
        max-width: 97%;
        font-size: 1.2em;
    }

}


    .menu-item {
        background-color: #fff;
        padding: 10px;
        border-radius: 30px;
        width: 100%;
        font-size: 120%;
        min-height: 300px;
        margin-right: 10px;
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        font-size: 1.3em;
    }

#starter-list {
    list-style: none;
    text-align: center;
}

#starter-list li {
    border-right: solid 1px black;
    border-bottom: solid 1px black;
    margin-bottom: 5px;
}

li:hover {
    background-color: #f2f2f2;
}

#main-course-list {
    list-style: none;
    text-align: center;
}

#main-course-list li {
    border-right: solid 1px black;
    border-bottom: solid 1px black;
    margin-bottom: 5px;
}

#dessert-list {
    list-style: none;
    text-align: center;
}

#dessert-list li {
    border-right: solid 1px black;
    border-bottom: solid 1px black;
    margin-bottom: 5px;
}

#beer-list {
    list-style: none;
    text-align: center;
}

#beer-list li {
    border-right: solid 1px black;
    border-bottom: solid 1px black;
    margin-bottom: 5px;
}

#wine-list {
    list-style: none;
    text-align: center;
}

#wine-list li {
    border-right: solid 1px black;
    border-bottom: solid 1px black;
    margin-bottom: 5px;
}

#drink-list {
    list-style: none;
    text-align: center;
}

#drink-list li {
    border-right: solid 1px black;
    border-bottom: solid 1px black;
    margin-bottom: 5px;
}

.main-courses,
.starters,
.desserts,
.beers,
.wines,
.nonalcoholics {
    text-align: left;
}

/*Knappar*/
button {
    padding: 2px 8px;
    border-radius: 10px;
    border: none;
    cursor: pointer;

}

button:hover {
    background-color: transparent;
    cursor: pointer;
}

.delete-button,
.edit-button {
    margin-left: 5px;
    background-color: transparent;
    font-size: 0.9em;
}

.delete-button:hover,
.edit-button:hover {
    color: #c3711a;
    cursor: pointer;
}

.updatemodalbtn {
    box-shadow: rgba(0, 0, 0, 0.09) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}


#addStarterBtn {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#addMainCourseBtn {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#addDessertBtn {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#addBeerBtn {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#addWineBtn {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#addDrinkBtn {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

/* Bordsbokningar */
.bookings-section {
    text-align: center;
    padding: 20px;
}

.bookings-heading {
    font-size: 24px;
    margin-bottom: 20px;
}

.bookings-list {
    max-width: 800px;
    margin: 0 auto;
    padding: 0;
}

.booking-item {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    list-style: none;
}

.booking-item h3 {
    margin-bottom: 5px;
}

.booking-item p {
    margin: 0;
}

.booking-item .actions {
    margin-top: 5px;
}

.booking-item button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.booking-item button:hover {
    background-color: #0056b3;
}
